
body{
    background-image: url('http://ilyakhasanov.ru/images/background/26.jpg');
}

.box{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    width: 900px;
    margin: 40px auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 12px 0px rgba(0, 0, 0, .25);
}

#form-placeholer, #questions-form{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.testName{
    text-align: center;
    font-size: 150%;
}

.one-question{
    margin: 8px 0;
}

.answer-choices{
    padding-left: 15px;
    margin: 4px 0;
    border-radius: 5px;
}

.question-title{
    width: 100%;
}

.my-answers + label{
    padding: 0 5px;
}

.true-ans{
    background-color: greenyellow;
}

.false-ans{
    background-color: #ff5959;
}

.my-answers, .my-answers + label {
    display: block;
    min-height: 22px;
}
.answer-choices{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    align-items: center;
}

.ready-button-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;-webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

#ready-button{
    margin: auto;
    width: 100px;
}

.result-score{
    text-align: center;
}